0 bloodiness bloodiness_human
1 bomb bomb_fire
2 bomb bomb_smoke
3 bomb bomb_vehicle
4 beheaded beheaded_isis
5 beheaded beheaded_after
6 march march_banner
7 march march_super
8 others abnormal_march_small_medium
9 fight fight_police
10 fight fight_person
11 others abnormal_porn
12 others abnormal_bloodiness_animal
13 others abnormal_bloodiness_anime
14 others abnormal_fight_court
15 others normal_anime
16 others normal_atom
17 others normal_rocket
18 others normal_sunrise
19 others normal_box
20 others normal_military
21 others normal_troops
22 others normal_legal_banner
23 others normal_photo
24 others normal_aerial
25 others normal_sexy
26 others normal_kitchen
27 others normal_car
28 others text_weibo
29 others text_chat
30 others background_text
31 others background_with_people
32 others background_no_people